header{background-color: green; text-align: center; padding: 10px; font-size: 250%; color: white; font-weight: bold; font-style: italic;}
nav{background-color: lightgrey; padding:10px; font-size: 125%; margin: 10px;}
#navbar{padding: 10px;}
div{width: 50%; float: left;}
img{ height: 450px; width: 450px;}
th, td{border: 1px solid black; padding: 4px;}
footer{text-align: center;padding: 5px; font-size: 150%; font-weight: bold;}
table{border-collapse: collapse;}
#Tag{width: 15%;}
ul{list-style-type: square;}
li{color: red; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1{color: blue;}
#Tech{color: lightblue;}
#Health{color: green;}
#Science{color: yellow;}
#Maths{color: red;}
#English{color: blue;}