body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
header{text-align: center; font-size: 250%; background-color: white; padding: 7px;}
nav{text-align: center; padding: 12px; font-size: 125%; background-color: red;}
a{padding: 12px; color: blue;}
#div{width: 50%; float: left; padding: 10px;}
#notStarter{background-color: #F2D99B;}
#Dessert{background-color: #E1B462;}
#Main{background-color: #F7D97E;}
img{width: auto; height: 400px;}
footer{text-align: center; background-color: white; padding: 10px; width:100%; overflow: hidden; font-size: 120%;}
*{box-sizing: border-box;}
a:hover{background-color: #CB000E;}